@keyframes scale-in-fade {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.scale-in-fade {
  animation: scale-in-fade 2.2s ease-in-out;
  opacity: 1;
}

.animated-balls:nth-of-type(1) {
  animation-delay: 0s;
}
.animated-balls:nth-of-type(2) {
  animation-delay: 0.3s;
}
.animated-balls:nth-of-type(3) {
  animation-delay: 0.6s;
}
.animated-balls:nth-of-type(4) {
  animation-delay: 0.9s;
}

h1{
  font-family: Baloo;
}

p{
  font-family: Baloo;
}

.flexivel{
  margin-right: 1.5rem;
}

.flexivel p{
  margin-top: 1rem;
  margin-left: auto;
  width: 90%;
}

