.hero-titles{
    font-family: Baloo;
    color: var(--melon);
}

.hero-titles h1{
    display: block;
    font-size: 12rem; 
    line-height: 0.8;  
    margin-bottom: 2rem;
    margin-top: 6rem;
}

.hero-color-diff{
    color: var(--indigo-dye)
}

.hero-titles p{
    width: 90%;
    margin-left: 1.5rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

@font-face {
  font-family: 'Baloo';
  src: url('/fonts/BalooChettan-Regular.ttf') format('truetype');
}

.hero{
    margin-bottom: 20px;
}

@media only screen and (max-width: 390px){
    .hero-titles h1{
        font-size: 4rem;
        text-align: center;
        margin: 0 auto;
    }

    .hero-titles p{
        margin-left: 0;
    }
}


@media only screen and (min-width:390px) and (max-width: 760px){
    .hero-titles h1{
        font-size: 4.8rem;
        text-align: center;
        margin: 0 auto;
    }

    .hero-titles p{
        margin-left: 0;
        margin-top: 15%;
    }

    .hero-titles Button{
        position: absolute;
        top: 82%;
        z-index: 10; 
    }
}

@media only screen and (min-width:1440px){
    .hero-titles h1{
        margin-left: 0;
        font-size: 12rem;
        margin-top: 12rem;
    }

    .hero-titles p{
        width: 50%;
        font-size: 1.2rem;
    }
}

@media only screen and (min-width:760px) and (max-width: 1280px){
    .hero-titles h1{
        font-size: 6rem;
        text-align: center;
        margin: 0 auto;
    }

    .hero-titles p{
        font-size: 1.6rem;
        margin-left: 0;
        margin-top: 15%;
    }

}