.video{
    margin-top: 3rem;
}

.flexivel h1{
    margin-right: 4rem;
}

@media only screen and (min-width:760px) and (max-width: 1279px){
.title{
    margin-top: 2rem;
}
  .video{
    margin-bottom: 5rem;
  }
}

@media only screen and (min-width:390px) and (max-width: 759px){
.title{
    margin-top: 2rem;
}
  .video{
    margin-bottom: 5rem;
  }
}