*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Baloo;
    src: url(src/assets/fonts/BalooChettan-Regular.ttf);
}

@import "tailwindcss";
@import './assets/colors.css';

/* celular 320 ate 600 */
/* tablet 600 ate 1024
desktop 1040 ate 1440 */